.filter-buttons-container {
  align-items: center;
  column-gap: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 4vh;
  margin-top: 16vh;
  padding: 0 1rem;
  width: 100%;
}

.category-button {
  background-color: #d9d9d9;
  border: none;
  border-radius: 1rem;
  font-weight: 500;
  min-width: 3rem;
  outline: none;
  padding: 3px 8px;
  text-transform: lowercase;
}

.category-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.d-cat-button {
  background-color: #d9d9d9;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  outline: none;
  padding: 3px;
  text-transform: lowercase;
  width: 6.5rem;
  word-wrap: break-word;
}

.c-active {
  background-color: #af303c;
  color: white;
}
