.recipe-details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
}

.recipe-details-img {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
}

.recipe-details-img > img {
  width: 100%;
}

.ingredient-checked {
  text-decoration: line-through;
}

.start-recipe-btn {
  bottom: 0;
  cursor: pointer;
  margin: auto;
  padding: 1rem 4rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.copied_span {
  background-color: white;
  border-radius: 8px;
  left: 0;
  padding: 0.4rem;
  position: absolute;
  top: 0;
}

.recipe-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
