.foods-page-container {
  align-items: center;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.food-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
  margin-bottom: 4vh;
  padding: 0 1.2rem;
  width: 100%;
}

.card-div {
  background-color: black;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: flex;
  flex-direction: column;
  max-width: 8rem;
}

.food-name {
  align-self: stretch;
  color: #af303c;
  font-size: 0.8rem;
  font-weight: 500;
  height: 40px;
  overflow: hidden;
  padding: 0 4px;
  text-align: center;
}

.food-image {
  border-radius: 4px 4px 0 0;
}
