footer {
  align-items: center;
  background-color: transparent;
  bottom: 0;
  display: flex;
  height: 12vh;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 8px 20px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

footer a {
  transition: 0.2s ease-out all;
}

footer a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer-icon {
  width: 2rem;
}

.footer-mini-div {
  align-items: center;
  background-color: #dee8f2;
  border-radius: 50%;
  color: #af303c;
  cursor: pointer;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  margin-bottom: 1rem;
  width: 3.5rem;
}

.cl {
  background-color: #a6cbf0;
}
