.header {
  align-items: center;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 12vh;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header-title {
  color: #f4a234;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.search-button {
  background-color: transparent;
  border: none;
  color: #f4a234;
  display: block;
  outline: none;
  position: absolute;
  right: 1.5rem;
  top: 1.6rem;
}

.margin-fix {
  margin-top: 2.2vh;
}
