.search-bar-container {
  background-color: #242424;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  text-align: center;
  width: 100%;
}

.text-input-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.text-input {
  background-color: #d9d9d9;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 0.9rem;
  height: 1.8rem;
  outline: none;
  padding-left: 4px;
  width: 78%;
}

.search-bar-button {
  background-color: #af303c;
  border-radius: 0 4px 4px 0;
  color: #d9d9d9;
  height: 1.8rem;
  padding: 4px;
}

.radio-buttons-container {
  align-items: center;
  color: #e4e4e4;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin: 0.8rem;
}

.option-button {
  background-color: #d9d9d9;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  outline: none;
  padding: 0 0.8rem;
}

.colored {
  background-color: #f4a234;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  outline: none;
  padding: 0 0.8rem;
}

.option-button:hover {
  background-color: #f4a234;
}
